{% load static %}

<div class="modal fade" id="atomicServiceModal" tabindex="-1" aria-labelledby="atomicServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Atomic Service Configuration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <div class="mb-3">
            <label class="form-label">Owner (Actor)</label>
            <input type="text" class="form-control" id="owner">
          </div>


          <div class="mb-3">
            <label class="form-label">Service name</label>
            <input type="text" class="form-control" id="serviceName">
          </div>

          <div class="mb-3">
            <label class="form-label">Atomic type</label>
            <select class="form-select" id="atomicType">
              <option value="collect">Collect</option>
              <option value="dispatch">Dispatch</option>
              <option value="process&monitor">Process & Monitor</option>
              <option value="display">Display</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Input (comma separated)</label>
            <input type="text" class="form-control" id="inputParams">
          </div>

          <div class="mb-3">
            <label class="form-label">Output (comma separated)</label>
            <input type="text" class="form-control" id="outputParams">
          </div>

          <div class="mb-3">
            <label class="form-label">HTTP Method</label>
            <select class="form-select" id="httpMethod">
              <option value="GET">GET</option>
              <option value="POST">POST</option>
              <option value="PUT">PUT</option>
              <option value="DELETE">DELETE</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Service URL</label>
            <input type="text" class="form-control" id="serviceUrl">
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="save-atomic-button">Save</button>
        </div>
      </div>
    </div>
</div>

<script type='module' src="{% static 'js/save_atomic_service.js' %}"></script>